
.nav-wrapper {
  padding: 0 0 0 15px;
}

.filters__item:not(:last-child) {
  margin-right: 1rem;
}

.page-footer {
  background-color: #000;
}

@media screen and (max-width: 960px) {
  .page-footer {
    background-color: #ccc;
  }
}

