
.goods {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.nav-wrapper {
  padding: 0 0 0 15px;
}

.filters__item:not(:last-child) {
  margin-right: 1rem;
}
.card {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.card-content {
  flex-grow: 1;
}

.card-info {
  display: flex;
  flex-direction: column;
}
.price {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.btn-big {
  width: 100%;
}
.cart {
  display: flex;
  align-items: flex-end;
  z-index: 2;
  position: fixed;
  right: 1rem;
  cursor: pointer;
}

.cart-icon {
  font-size: 2.4rem;
}

.page-footer {
  background-color: #000;
}

@media screen and (max-width: 960px) {
  .cart {
    bottom: 0;
  }
  .page-footer {
    background-color: #ccc;
  }
}
